.container{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.content{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 16px 4px rgba(34, 60, 80, 0.53);
    padding: 20px;
}
.rating{
    min-width: 200px;
    width: 75%;
    display: flex;
    align-items: center;
}
.rating > p{
    font-size: 40px;
}
.poster{
    width: 400px;
}
.container > p {
    font-size: 20px;
}
.comments{
    margin-top: 20px;
}


@media(max-width: 700px){
    .content{
        max-width: 330px;
    }
    .poster{
        width: 100%;
    }
    .rating > p{
        font-size: 28px;
    }
}
@media(max-width: 430px){
    .rating > p{
        font-size: 21px;
    }
    .rating {
        width: 100%;
    }
    .content{
        width: 250px;
        padding: 20px;
    }
    .container{
        padding: 0px;
    }

}

@media(max-width: 1270px){
    .link > h1 {
        font-size: 35px;
        font-weight: 500;
    }
    .rating > p{
        font-size: 28px;
    }
}
@media(max-width: 430px){
    .link > h1 {
        font-size: 25px;
        font-weight: 500;
    }
    .rating > p{
        font-size: 21px;
    }
}