.container{
    display: flex;
    justify-content: space-around;
}
.filter{
    display: flex;
    flex-direction: column;

}
.inputContainer > label > input{
    border: solid gray 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;

}
.inputContainer{
    display: flex;
    flex-direction: column;
}
.sort{
    display: flex;
    flex-direction: column;
}
.sort > select{
    border: solid gray 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}

@media (max-width: 980px){
    .container{
        display: grid;
        row-gap: 10px;
    }
}